html {
  scroll-behavior: smooth;
}

.main-section {
  margin-bottom: 3rem;
  border-bottom: 1px solid lightgrey;
}

@media (min-width: 700px) {
  nav {
    position: fixed;
    width: 130px;
  }
  .main-section {
    margin-left: 140px;
  }
}

code {
  background: lightgrey;
  padding: 1em;
  margin: 1em 0 1em 0;
}

nav {
  height: 20px;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 15em;
  margin-left: 0 auto;
}

main {
  margin-left: 0px;
}
ul {
  padding-left: 0px;
}
li {
  list-style-type: none;
}
nav > ul > li {
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
  display: grid;
  justify-content: center;
  box-sizing: border-box;
}
nav > ul > li > a {
  float: left;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 20px;
}